.navbar {
    
    background-color: rgb(51, 46, 46);
    height: 60px;
    
}
.navbar_text-logo {
    color: white;
    font-size: 18px;
}
.navbar-menu {
    display: flex;
    flex-direction: row;
    
    list-style-type: none;
    
}
.navbar-menu>li {
    margin-right: 5px;
    
}
.navbar-menu li a {
    color: grey;
    text-decoration: none;
    
}


.active {
    border-bottom: 2px solid white;
    
}

ul .active a {
    color: white;

}
.navbar-menu li a:hover {
    color: white;

}


